:root{
    --green: #40BE11;
}

.light1-color{
    color: black;
}

.dark1-color{
    color: white;
}

.main{
    display: flex;
    width: 100%;
    height:79.2vh;
    min-height: 60vh;
    justify-content: space-around;
    margin-top: 8%;
    /* border: 1px solid white; */
}

.left-main{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 60vh;
    /* border: 1px solid white; */
}

.left{
    width: 100%;
    height: 60vh; 
}

.bottom{
    width: 88%;
    height: 9.5vh;
    display: flex;
    column-gap: 1.3vw;
    align-items: center;
    /* margin-left: 120px; */
    /* border: 1px solid cadetblue; */
    margin-left: 10%;
    margin-bottom: 6%;
}

.right{
    width: 35%;
    height: 60vh;
    margin-right: 30px;
}

.ty-div {
    display: flex;
    flex-direction: column;
    gap: 6%;
    height: 100%;
    padding-top: 7%;
}
h2{
    /* margin-top: 120px;
    margin-left: 120px; */
    /* color: white; */
    margin-top: 11%;
    font-size: 2.3rem;
    letter-spacing: 0.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid white; */
}

p{
    font-size: 1.7rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-top: 26px; */
    /* margin-left: 120px; */
    /* border: 1px solid white; */
}

.typing-dark{
    color: var(--green);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.typing-light{
    color: #008080;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.btn{
    width: 35%;
    display: flex;
    justify-content: space-between;
    /* margin-left: 110px; */
    /* margin-top: 40px; */
    height: 7vh;
    /* border: 1px solid white; */
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}
 h2, p {
    padding-left: 10%;
}
.btn button {
    height: 85%;
    width: 45%;
    cursor: pointer;
}
.btn1-light{
    background-color: #008080;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
    border-radius: 22px;
    border: none;
    width: 38%;
}

.btn2-light{
    background-color: #008080;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
    border-radius: 22px;
    border: none;
    width: 48%;
}

.btn1{
    background-color: var(--green);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
    border-radius: 22px;
    border: none;
    width: 35%;
}

.btn2{
    background-color: var(--green);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
    border-radius: 22px;
    border: none;
    width: 50%;
}

.txt1{
    background-color: transparent;
    font-size: .9rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn a{
    background-color: transparent;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.right img{
    width: 80%;
    height: 100%;
    margin-top: 0px;
    margin-left: 30px;
} 

.my-social{
    height: 8vh; 
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    background-color: rgba(0, 50, 107, 0.61);
    /* margin-top: -7vh; */
    /* border: 1px solid salmon; */
}

.my-social a {
    text-decoration: none;
    background-color: #002854;
}

.my-social-light{
    height: 8vh; 
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.97);
    /* margin-top: -7vh; */
    /* border: 1px solid salmon; */
}

.light-icon{
    font-size: 20px;
    height: 20px;
    width: 19px;
    color: #008080;
}

.dark-icon{
    font-size: 20px;
    height: 20px;
    width: 19px;
    color: #40BE11;
}