@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.my-projects{
    width: 16.5vw;
    color: white;
    display: flex;
    column-gap: 0.6vw;
    font-size: 2rem;
    padding: 10px;
    margin-top: 2vh;
    margin-left: 5vw;
    border: 1px solid white;
    font-family: 'Source Sans Pro', 'sans-serif';
}

.only-proj{
    color: #40EB11;
    font-family: 'Source Sans Pro', 'sans-serif';
}

.all-projects{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid white; */
    padding: 20px;
    height: auto;
    align-items: center;
    /* justify-content: space-around; */
    row-gap: 3vh;
    margin-top: 5vh;
    margin-left: 7vw;
    column-gap: 2.5vw;
}

.myp-data{
    width: 30%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* padding: 10px; */
    /* background-color: #00275E; */
    background-color: #153D6A;
    row-gap: 3vh;
    padding-bottom: 15px;
    border-radius: 15px;
}

.projtitle{
    color: white;
    font-size: 1.5rem;
    background-color: transparent;
    font-family: 'Source Sans Pro', 'sans-serif';
}

.projimage{
    height: 34vh;
    width: 100%;
    border-bottom: 1px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.projimage-hover {
    filter: brightness(80%);
}
  
.details-button {
    background-color: #00122b;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 8vw;
    font-family: 'Source Sans Pro', 'sans-serif';
}
  
/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
  
/* .modal {
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; */
    /* row-gap: 3vh; */
    /* background-color: white; */
    /* padding: 20px; */
    /* border-radius: 10px;
}
  
.close-button {
    background-color: #00122b;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.over-title{
    background-color: transparent;
    margin-right: 40px;
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.modal {
    height: 50vh;
    width: 45%;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin: 20px; /* Adjust the margin as needed */
}
  
.over-title {
    margin-top: 0;
    background-color: transparent;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
}
  
.my-tech {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 0px;
    color: #00122b;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
}
  
.deploy-class {
    display: block;
    margin-top: -10px;
    margin-left: 0px;
    text-decoration: underline;
    font-size: 1.2rem;
    /* color: #00122b; */
    font-weight: 600;
    color: #40EB11;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
}
  
.proj-desc {
    margin-top: 50px;
    background-color: transparent;
    color: #00122b;
    /* color: whitesmoke; */
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
}
  
.close-button {
    width: 20%;
    padding: 10px 20px;
    background-color: #00122b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 17vw;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
}
  
.close-button:focus {
    outline: none;
}